# macOS
.DS_Store

# JetBrains
.idea/

# Python
__pycache__/

# environment
.env
.venv*/
.python-version
.python-venv

# credentials
*credentials*.json
*token*.json
!credentials.template.json

# logs
logs/

# data
output/
